.list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 70vw;
	margin: auto;
}

.list button {
	border: 1px solid whitesmoke;
	border-radius: 100px;
	padding: 5px 9px;
	margin: 0 10px 20px;
	background-color: transparent;
	color: antiquewhite;
	cursor: pointer;
	outline: none;
}

.list button:hover {
	background-color: antiquewhite;
	color: black;
}
