.list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.list li {
	border: 1px solid whitesmoke;
	border-radius: 100px;
	padding: 5px 9px;
	margin: 0 10px;
	cursor: pointer;
}

.list li:hover {
	background-color: rgb(223, 223, 191);
	color: black;
}
