.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 80vw;
	margin: auto;
	gap: 30px;
	border-top: 1px solid wheat;
	border-bottom: 1px solid wheat;
	padding: 30px 0;
}
